<!DOCTYPE html>
<html xmlns:th="www.thymelead.org">
<head>
    <meta charset="UTF-8">
    <title>퀴즈 플레이</title>
</head>
<body>
    <h1>OX 퀴즈 게임: PLAY </h1>
    <h3>퀴즈</h3>
    <h3 th:text="${dto.content}"></h3>
    <form th:action="@{/member/check}" method="post">
        <input type="hidden" name="answer" th:value="${dto.answer}">
        <input type="hidden" name="id" th:value="${session.userId}">
        <input type="submit" value="O" name="choice">
        <input type="submit" value="X" name="choice">
    </form>
    <p></p>
    <a href="/quiz">목록 화면으로 돌아가기</a>
</body>
</html>