<!DOCTYPE html>
<html xmlns:th="www.thymelead.org">
<head>
    <meta charset="UTF-8">
    <title>퀴즈 목록</title>
</head>
<body align="center">
    <h1>등록된 퀴즈 목록 <a th:href="@{/quiz/play}">플레이</a></h1>
    <table border="1" align="center">
        <thead>
            <tr>
                <td>ID</td>
                <td>내용</td>
                <td>해답</td>
                <td>작성자</td>
                <td>변경</td>
                <td>삭제</td>
                <td>등록일</td>
                <td>수정일</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="quiz : ${lists}" th:object="${quiz}">
                <td th:text="*{id}"></td>
                <td th:text="*{content}"></td>
                <td th:text="*{answer}"></td>
                <td th:text="*{writer}"></td>
                <td>
                    <a th:href="@{/quiz/update/{id}(id=*{id})}"><input type="button" value="변경"></a>
                </td>
                <td>
                    <form th:action="@{/quiz/delete}" method="post">
                        <input type="hidden" name="id" th:value="*{id}">
                        <input type="submit" value="삭제">
                    </form>
                </td>
                <td th:text="*{#temporals.format(insertedAt, 'yyyy-MM-dd HH:mm')}"></td>
                <td th:text="*{#temporals.format(updatedAt, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <form th:action="@{/quiz/insert}">
        <input type="submit" value="퀴즈 등록">
    </form>
    <a href="/member">회원 화면으로 돌아가기</a>
</body>
</html>