<!DOCTYPE html>
<html xmlns:th="www.thymelead.org">
<head>
    <meta charset="UTF-8">
    <title>퀴즈 수정</title>
</head>
<body>
    <h1>OX Quiz Application</h1>
    <h3>수정 폼</h3>
    <form th:action="@{/quiz/update}" method="post" th:object="${dto}">
        <input type="hidden" th:field="*{id}">
        <div>
            <div><label for="content">퀴즈 내용: </label></div>
            <div>
                <textarea rows="3" cols="30" name="content" th:field="*{content}"></textarea>
                <span th:errors="*{content}"></span>
            </div>
        </div>
        <div>
            <div><label for="answer">퀴즈 정답: </label></div>
            <div>
                <input type="radio" name="answer" value="O" th:field="*{answer}">O
                <input type="radio" name="answer" value="X" th:field="*{answer}">X
            </div>
        </div>
        <div>
            <div><label for="writer">작성자: </label></div>
            <div><input type="text" name="writer" th:field="*{writer}"></div>
        </div>
        <p></p>
        <input type="submit" value="등록">
    </form>
    <p></p>
    <a href="/quiz">목록 화면으로 돌아가기</a>
</body>
</html>