<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>join</title>
    <script src="/js/jQuery.js"></script>
</head>
<body>
<h1>OX Quiz Application : 회원가입</h1>
<form th:action="@{/join}" method="post" th:object="${newMember}">
    <ul>
        <label for="memberId">ID : </label>
        <input type="text" th:field="*{memberId}">
        <span th:text="${alreadyHas}" style="color: red; font-size: 12px"></span>
        <span th:errors="*{memberId}" style="color: red; font-size: 12px"></span>
    </ul>
    <ul>
        <label for="password">Password : </label>
        <input type="password" th:field="*{password}"> <span th:errors="*{password}" style="color: red; font-size: 12px"></span>
    </ul>
    <ul>
        <label for="psw">Password Check : </label>
        <input type="password" id="psw"> <span id="notMatch" style="color: red; font-size: 12px"></span>
    </ul>
    <ul>
        <input type="submit" value="가입하기">
        <a href="/">
            <input type="button" value="돌아가기">
        </a>
    </ul>
</form>
<script>
    $(document).ready(function(){
        $("form").on("submit", function(){
            event.preventDefault;
            if($("#password").val() != $("#psw").val()){
                $("#notMatch").text("비밀번호가 일치하지 않습니다.");
                $("#psw").focus();
                return false;
            }
        });
    });
</script>
</body>
</html>