<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form class="container">
        <div class="mb3">
            <label class="form-label"> 닉네임</label>
            <input type="text" class="form-control" name="title" id="update-comment-nickname">
        </div>
        <div class="mb-3">
            <label class="form-label">내용</label>
            <textarea class="form-control" row="3" name="content" id="update-comment-body"></textarea>
        </div>
        <button type="button" class="btn btn-primary" id="comment-update-btn">댓글수정</button>
        <a href="">Go to Article List</a>
    </form>
</body>
</html>