<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body align="center">
<h1>회원관리 페이지</h1>
<table border="1" align="center">
    <thead>
    <tr>
        <td>ID</td>
        <td>PASSWORD</td>
        <td>정답 개수</td>
        <td>오답 개수</td>
        <td>STATUS</td>
        <td>인증</td>
        <td>변경</td>
        <td>삭제</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="dto:${lists}" th:object="${dto}">
        <td th:text="*{id}">ID</td>
        <td th:text="*{password}">PASSWORD</td>
        <td th:text="*{answerTrue}">정답 개수</td>
        <td th:text="*{answerFalse}">오답 개수</td>
        <td th:text="*{status}">status</td>
        <td>
            <form th:action="@{/member/certify}" method="post" th:if="*{status}==false">
                <input type="hidden" name="no" th:value="*{no}">
                <input type="submit" value="인증" >
            </form>
            <div th:if="*{status}==true">완료</div>
        </td>
        <td>
            <a th:href="@{/member/update(no=*{no})}"><input type="button" value="수정"></a>
        </td>
        <td>
            <form th:action="@{/member/delete}" method="post" th:if="*{status}==true">
                <input type="hidden" name="no" th:value="*{no}">
                <input type="submit" value="삭제">
            </form>
        </td>
    </tr>
    </tbody>
</table>
<p></p>
<a th:href="@{/member}">메인화면으로 돌아가기</a>
</body>
</html>