<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OX퀴즈 게임 정답</title>
</head>
<body align="center">
<h1>OX 퀴즈 게임 : 정답</h1>
<p></p>
<h2 th:if="${isCorrect}" style="color: green;">정답입니다</h2>
<h2 th:if="${!isCorrect}" style="color: red;">틀렸습니다</h2>
<div>
    <span>정답 개수: <span th:text="${member.answerTrue}">3</span></span>
    &nbsp&nbsp
    <span>오답 개수: <span th:text="${member.answerFalse}">2</span></span>
</div>
<p></p>
<span><a th:href="@{/quiz/play}">리플레이</a>&nbsp<a th:href="@{/quiz}">CRUD 화면으로 돌아가기</a></span>
<a th:href="@{/member}">메인으로 돌아가기</a>
</body>
</html>