<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OX퀴즈 게임</title>
</head>
<body align="center">
<h1>OX 퀴즈 게임 : PLAY</h1>
<p></p>
<h2>퀴즈</h2>
<p></p>
<div th:if="${listsEmpty}" style="font-size:larger; font-weight:bold; color: red">등록된 문제가 없습니다.</div>
<form th:action="@{/quiz/check}" method="post">
    <div th:each="dto:${lists}">
        <div style="font-size:larger; font-weight:bold" th:text="${dto.content}"></div>
        <input type="hidden" name="id" th:value="${dto.id}">
        <span>
            <button type="submit" name="answer" value="O">O</button>
            <button type="submit" name="answer" value="X">X</button>
        </span>
    </div>
</form>
<p></p>
<a th:href="@{/quiz}">CRUD 화면으로 돌아가기</a>
<a th:href="@{/member}">메인으로 돌아가기</a>
</body>
</html>