<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>퀴즈목록</title>
</head>
<body align="center">
<span style="font-size:x-large; font-weight:bold">등록된 퀴즈 목록
    <a th:href="@{/quiz/play}">플레이</a>
</span>
<p></p>
<table border="1" align="center">
    <thead>
    <tr>
        <td>ID</td>
        <td>내용</td>
        <td>해답</td>
        <td>작성자</td>
        <td>변경</td>
        <td>삭제</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="dto:${lists}" th:object="${dto}">
        <td th:text="*{id}">ID</td>
        <td th:text="*{content}">옛날 임금들은 웃음내시가 있었다</td>
        <td th:text="*{answer}">O</td>
        <td th:text="*{name}">김형민</td>
        <td>
            <a th:href="@{/quiz/update(id=*{id})}"><input type="button" value="변경"></a>
        </td>
        <td>
            <form th:action="@{quiz/delete}" method="post">
                <input type="hidden" name="id" th:value="*{id}">
                <input type="submit" value="삭제">
            </form>
        </td>
    </tr>
    </tbody>
</table>
<form th:action="@{/quiz/insert}">
    <input type="submit" value="새 퀴즈 입력">
</form>
</body>
</html>