<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 정보 수정</title>
</head>
<body>
<h1>회원정보 수정</h1>
<form th:action="@{/member/update}" method="post" th:object="${dto}">
    <input type="hidden" th:field="*{no}">
    <div>
        <label for="id">아이디</label>
        <input type="text" name="id" th:field="*{id}" readonly>
        <span th:unless="${errorMessage==null}" th:text="${errorMessage}"></span>
    </div>
    <div>
        <label for="password">비밀번호</label>
        <input type="text" name="password" id="password">
    </div>
    <div>
        <label for="password2">비밀번호 확인</label>
        <input type="text" id="password2">
    </div>
    <input type="hidden" th:field="*{status}">
    <button type="submit" value="등록" th:onclick="return passwordTest()">수정</button>
</form>
<br>
<a th:href="@{/member/admin}">회원관리 화면으로 돌아가기</a>

<script th:inline="javascript">
    function passwordTest(){
        var p1 = document.getElementById('password').value;
        var p2 = document.getElementById('password2').value;

        if( p1 != p2 ) {
            alert("비밀번호 불일치");
            return false;
        } else{
            return true;
        }
    }
</script>
</body>
</html>
