<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>OX Quiz Application : 로그인</h1>
<form th:action="@{/login}" method="post">
    <ul>
        <span th:text="${notApprove}" style="color: red; font-weight:bold;"></span>
    </ul>
    <ul>
        <label for="id">ID : </label>
        <input type="text" name="id" id="id" th:value="${id}"> <span th:text="${notExist}" style="color: red; font-size: 12px"></span>
    </ul>
    <ul>
        <label for="password">Password : </label>
        <input type="password" name="password" id="password"> <span th:text="${notMatch}" style="color: red; font-size: 12px"></span>
    </ul>
    <ul>
        <input type="submit" value="로그인">
        <a th:href="@{/join}" method="get">
            <input type="button" value="회원가입">
        </a>
    </ul>
</form>
</body>
</html>