<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>
<h1>퀴즈 🕹️<a th:href="@{/quiz/play}">PlAY</a>🕹️</h1>
<form>
    <div  th:if="${session.memberDto.memberId == 'root'}">
        <h3>관리자 메뉴</h3>
        <a th:href="@{/member}">
            <input type="button" value="회원관리">
        </a>
        <a th:href="@{/quiz}">
            <input type="button" value="문제관리">
        </a>
        <hr>
    </div>
    <div>
        <h3>사용자 메뉴</h3>
        <a th:href="@{/main/myPage}">
            <input type="button" value="MyPage">
        </a>
        <a th:href="@{/main/logout}">
            <input type="button" value="로그아웃">
        </a>
    </div>
</form>
</body>
</html>