<!DOCTYPE html>
<html xmlns:th="www.thymelead.org">
<head>
    <meta charset="UTF-8">
    <script src="/js/jQuery.js"></script>
    <title>회원가입</title>
</head>
<body align="center">
    <form th:action="@{/member/insert}" id="signup_form" method="post" th:object="${dto}">
        <div>
            <label for="id">아이디</label>
            <input type="text" name="id" th:field="*{id}">
        </div>
        <div>
            <label for="password">비밀번호</label>
            <input type="password" name="password" id="pwd1" th:field="*{password}" required>
        </div>
        <div>
            <label for="pwdCheck">비밀번호 확인</label>
            <input type="password" name="pwdCheck" id="pwd2" required>
        </div>
        <input type="submit" value="등록">
        <div>
            <span th:text="${msg}"></span>
        </div>
    </form>
    <a th:href="@{/member}" align="center">처음으로 돌아가기</a>

    <script>
        $(document).ready(function(){
            $("#signup_form").submit(function(){
                let pwd1 = $("#pwd1").val();
                let pwd2 = $("#pwd2").val();

                if(pwd1 != pwd2){
                    alert("비밀번호가 일치하지 않습니다.");
                    return false;
                }
            })
        });
    </script>
</body>
</html>