<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OX퀴즈 : 목록</title>
</head>
<body>
<h1>퀴즈 목록</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th style="display: flex; justify-content: center; align-items: center; position: relative;">
            <span style="flex: 1; text-align: center;">질문</span>
            <div style="position: right: 0; display: flex;">
                <form th:action="@{/quiz/c_asc}">
                    <button type="submit"
                            style="padding: 0; margin: 1px; border-radius: 4px; background: none; cursor: pointer;">▲
                    </button>
                </form>
                <form th:action="@{/quiz/c_desc}">
                    <button type="submit" style="padding: 0; margin: 1px; border-radius: 4px; background: none; cursor: pointer;">▼
                    </button>
                </form>
            </div>
        </th>
        <th>정답</th>
        <th style="display: flex;">
            &nbsp;<span>작성자</span>&nbsp;
            <form th:action="@{/quiz/n_asc}" style="display: inline;">
                <button type="submit"
                        style="padding: 0; margin: 1px; border-radius: 4px; background: none; cursor: pointer;">▲
                </button>
            </form>
            <form th:action="@{/quiz/n_desc}" style="display: inline;">
                <button type="submit"
                        style="padding: 0; margin: 1px; border-radius: 4px; background: none; cursor: pointer;">▼
                </button>
            </form>
        </th>
        <th>가입 날짜</th>
        <th>수정 날짜</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="quiz : ${quizList}" th:object="${quiz}">
        <td th:text="*{id}"></td>
        <td th:text="*{content}"></td>
        <td align="center">
            <span th:if="*{answer}">O</span>
            <span th:unless="*{answer}">X</span>
        </td>
        <td th:text="*{name}" align="center"></td>
        <td th:with="insert=*{insertedAt}" th:text="${#temporals.format(insert,'yyyy-MM-dd HH:mm:ss')}"></td>
        <td th:with="update=*{updatedAt}" th:text="${#temporals.format(update,'yyyy-MM-dd HH:mm:ss')}"></td>
        <td>
            <a th:href="@{/quiz/update/{id}(id=*{id})}" method="get">
                <input type="button" value="변경">
            </a>
        </td>
        <td>
            <form th:action="@{/quiz/delete}" method="post">
                <input type="hidden" th:value="*{id}" name="id">
                <input type="submit" value="삭제">
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br>
<form th:action="@{/quiz/insert}">
    <input type="submit" value="퀴즈 등록하기">
</form>
</body>
</html>