<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원관리 : 목록</title>
</head>
<body>
<h1>회원 목록</h1>
<table border="1">
    <thead>
    <tr>
        <th>No</th>
        <th>회원 ID</th>
        <th>비밀번호</th>
        <th>정답 횟수</th>
        <th>틀린 횟수</th>
        <th>가입 날짜</th>
        <th>수정 날짜</th>
        <th>인증상태</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="member : ${memberLists}" th:object="${member}">
        <td th:text="*{no}"></td>
        <td th:text="*{memberId}"></td>
        <td th:text="*{password}"></td>
        <td th:text="*{answerTrue}"></td>
        <td th:text="*{answerFalse}"></td>
        <td th:with="insert=*{insertedAt}" th:text="${#temporals.format(insert,'yyyy-MM-dd HH:mm:ss')}"></td>
        <td th:with="update=*{updatedAt}" th:text="${#temporals.format(update,'yyyy-MM-dd HH:mm:ss')}"></td>
        <td align="center">
            <span th:if="*{status}" style="color:blue; font-weight:bold;  text-align: center;">인증완료</span>
            <span th:unless="*{status}" style="color:red; font-weight:bold;  text-align: center;">미인증</span>
            <span th:unless="*{status}">
                <form th:action="@{member/status}" method="post">
                    <input type="hidden" th:value="*{no}" name="no">
                    <input type="submit" value="인증하기">
                </form>
            </span>
        </td>
        <td>
            <a th:href="@{/member/update/{no}(no=*{no})}" method="get">
                <input type="button" value="변경">
            </a>
        </td>
        <td>
            <form th:action="@{/member/delete}" method="post">
                <input type="hidden" th:value="*{no}" name="no">
                <input type="submit" value="삭제">
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br>
<form th:action="@{/member/insert}">
    <input type="submit" value="회원 등록하기">
</form>
</body>
</html>