<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>insertMember</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="/js/jQuery.js"></script>
</head>
<body>
<h1><b>OX Quiz Application</b></h1>
<form th:action="@{/member/insert}" method="post"
      th:object="${dto}">
    <div>
        <label for="memberId">아이디 : </label><br>
        <input type="text" name="memberId" th:field="*{memberId}">
        <!--   입력 오류가 있다면 오류 메시지를 출력  -->
        <span th:errors="*{memberId}"  style="color:red;"></span>
    </div>
    <p></p>
    <div>
        <label for="password">비밀번호 : </label><br>
        <input type="text" name="password" th:field="*{password}">
        <span th:errors="*{password}" style="color:red;"></span>
    </div>
    <p></p>
    <div>
        <label for="confirmPassword">비밀번호 확인 : </label><br>
        <input type="text" id="confirmPassword" name="confirmPassword">
        <span th:errors="*{confirmPassword}" style="color:red;"></span>
    </div>
    <p></p>
    <input type="submit" value="등록">
</form>
<div th:if="${session.isAdmin}">
    <a th:href="@{/member/view}"><button style="margin-top:18px;">사용자 관리 페이지</button></a>
</div>
<script th:inline="javascript">
    $(document).ready(function(){
      $("form").on("submit", function(event){
        event.preventDefault(); // 폼 제출 막음

        let isValid = true; // 유효성 체크 변수

        if($("#memberId").val().length == 0){
            alert("ID를 입력하세요");
            $("#memberId").focus();
            isValid = false;
        }

        if($("#password").val().length == 0){
            alert("비밀번호를 입력하세요");
            $("#password").focus();
            isValid = false;
        }

        if($("#confirmPassword").val().length == 0) { // 비밀번호 확인이 비어있는지 체크
            alert("비밀번호 확인을 입력하세요.");
            $("#confirmPassword").focus();
            isValid = false;
        } else if ($("#password").val() !== $("#confirmPassword").val()) { // 비밀번호 비교
            alert("비밀번호가 일치하지 않습니다.");
            $("#confirmPassword").focus();
            isValid = false;
        }

        // 모든 필드가 유효한 경우에만 폼 제출
        if(isValid){
            this.submit(); // 폼을 수동으로 제출
        }
      });
    });
</script>
</body>
</html>