<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<!--<div th:unless="${session.loginId == null}">-->
<!--    session 값을 확인 : <span th:text="${session.loginId}"></span>-->
<!--</div>-->
<h1><b>OX Quiz Application</b></h1>
<div th:if="${session.loginId == null}" style="margin-top:70px">
  <a th:href="@{/member/insert}"><button style="margin-left:50px;">회원가입</button></a>
  <a th:href="@{/member/login}"><button style="margin-left:50px;">로그인</button></a><p>
</div>
<div th:unless="${session.loginId == null}" style="margin-top:70px">
  <a th:href="@{/quiz/play}"><button style="margin-left:40px;">퀴즈 시작!</button></a>
  <a th:href="@{/member/logout}"><button style="margin-left:50px;">로그아웃</button></a>
</div>

</body>
</html>