<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update Member</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<h1><b>OX Quiz Application</b></h1>
<form th:action="@{/member/update}" method="post"
      th:object="${dto}">
    <input type="hidden" th:field="*{no}">
    <div>
        <label for="memberId">아이디 : </label><br>
        <span name="memberId" th:text="*{memberId}"></span>
        <input type="hidden" name="memberId" th:field="*{memberId}">
<!--        <input type="text" name="memberId" th:field="*{memberId}" disabled>-->
    </div>
    <p></p>
    <div>
        <label for="password">비밀번호 : </label><br>
        <input type="text" name="password" th:field="*{password}">
        <span th:errors="*{password}" style="color:red;"></span>
    </div>
    <p></p>
    <div>
        <label for="confirmPassword">비밀번호 확인 : </label><br>
        <input type="text" name="confirmPassword">
        <span th:errors="*{confirmPassword}" style="color:red;"></span>
    </div>
    <p></p>
    <input type="submit" value="등록">
</form>
</body>
</html>