<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>sign in</title>
    <script src="/js/jQuery.js"></script>
</head>
<body class="m-3 container">
    <div class="py-4 text-center">
        <h1>신규 회원 등록</h1>
    </div>
    <div th:if="${signInError}" style="color: red;" class="p-2 bg-danger text-white">
        <p th:text="${signInError}"></p>
    </div>
    <form th:action="@{/quiz/signIn}" method="post" th:object="${dto}">
<!--    <form th:action="@{/quiz/signIn}" method="post" th:object="${dto}" onsubmit="return test();">-->
        <div class="row mb-3">
            <label for="memberId" class="col-sm-2 col-form-label">아이디 : </label>
            <div class="col-sm-10">
                <input type="text" id="memberId" name="memberEmail" th:field="*{memberId}" class="form-control"/>
            </div>
        </div>
        <div class="row mb-3">
            <label for="memberPassword" class="col-sm-2 col-form-label">비밀번호 : </label>
            <div class="col-sm-10">
                <input type="password" id="memberPassword" name="memberPassword" th:field="*{memberPassword}" class="form-control"/>
            </div>
        </div>
        <div class="row mb-3">
            <label for="memberPassword2" class="col-sm-2 col-form-label">비밀번호 확인 : </label>
            <div class="col-sm-10">
                <input type="password" id="memberPassword2" name="memberPassword2" class="form-control"/>
            </div>
        </div>
        <p></p>
        <input type="submit" value="등록" class="btn btn-primary">
    </form>
    <p></p>
    <a th:href="@{/quiz}">
        <input type="button" value="메인 화면으로 돌아가기" class="btn btn-outline-secondary"/>
    </a>

    <!--  javascript ver.  -->
<!--    <script type="text/javascript">-->
<!--        function test() {-->
<!--            var p1 = document.getElementById('memberPassword').value; // Corrected ID-->
<!--            var p2 = document.getElementById('memberPassword2').value; // Corrected ID-->

<!--            if (p1 !== p2) {-->
<!--                alert("비밀번호가 일치하지 않습니다.");-->
<!--                return false; // Prevent form submission-->
<!--            }-->
<!--            return true; // Allow form submission-->
<!--        }-->
<!--    </script>-->
    <!--  jQuery ver.  -->
    <script th:inline="javascript">
        $(document).ready(function(){
            $("form").on("submit", function(event){
                let valid = true;

                <!--       이이디 검증         -->
                if($("#memberId").val() == ''){
                    alert("아이디를 입력하세요.");
                    $("#memberId").focus();
                    valid = false;
                }

                <!--       비밀번호 검증         -->
                if($("#memberPassword").val() == ''){
                    alert("비밀번호를 입력하세요.");
                    $("#memberPassword").focus();
                    valid = false;
                }

                if($("#memberPassword").val() != $("#memberPassword2").val()){
                    alert("비밀번호가 일치하지 않습니다.");
                    $("#memberPassword").focus();
                    $("#memberPassword").val('');
                    $("#memberPassword2").val('');
                     valid = false;
                }

                if (!valid) {
                    event.preventDefault();
                }

                alert("등록이 완료되었습니다."+"\n"+"관리자 승인을 기다리세요.");
            });
        });

    </script>
</body>
</html>