<!DOCTYPE html>
<html xmlns:th="www.thymelead.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <br>
  <div th:if="${session.userId == null}">
    <a th:href="@{/member/insert}">회원가입</a><br>
    <a th:href="@{/member/login}">로그인</a><br>
  </div>

  <!-- 로그인 후 -->
  <div th:unless="${session.userId == null}">
      <a th:href="@{/member/logout}">로그아웃</a><br>

    <!--   계정에 따라 메뉴 노출 다름 -->
      <th:block th:switch="${session.userId}">
        <th:block th:case="root">
          <a th:href="@{/member/list}">회원 목록 보기</a><br>
          <a th:href="@{/quiz}">퀴즈 목록 보기</a><br>
        </th:block>
        <th:block th:case="*">
          <a th:href="@{/quiz}">퀴즈 플레이</a><br>
          <a th:href="@{/member/myPage/{id}(id=${session.userId})}">마이페이지</a><br>
        </th:block>
      </th:block>
  </div>
</body>
</html>